* {
    margin: 0px;
    padding: 0px;
}

header, footer {
    /* 頭尾 */
    color: white;
    background-color: black;
    text-align: center;
}

section, aside {
    /* 中間部分 */
    float: left;
    height: 550px;
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
}

header {
    padding: 15px;
}

nav {
    /* 導覽列 */
    background-color: #dddddd;
    text-align: center;
    display: "none";
}

section#left {
    /* 左側 - 功能列表 */
    width: 15%;
    background-color: #eeeeee;
}

section#main {
    /* 主要部分 - 廠區 */

}

aside {
    /* 右側 */

}

footer {
    /* 底部 */
    clear: left;
    padding: 10px;
}

p,
h1,
h2,
h3 {
    text-align: center;
}

/************************************/
#factoryArea {
    
}