* {
    padding: 5px;
    margin: 0px;
    background-color: rgb(200, 200, 200);
}

section, aside {
    height: 600px;
    border: 2px solid black;
}

section#main {
    float: left;
    width: 60%;
}

aside {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

#factoryArea {
    width: 95%;
    height: 95%;
    border: 1px solid red;
}

.containerModel {
    border: 1px dashed blue;
    width: 80px;
    padding: 30px;
    background-color: lightblue;
    /* position: absolute; */
}

