div#layout { /* 場區 */
	border-radius: 5px;
	height: 300px;
    border: 3px solid gray;
    overflow: auto;
    padding: 0px;
    /* float: left; */
    /* position: static;  */
}

.hover {
    border: 3px dashed blue;
}


div.DIO { /* 場區DIO物件 */
	width:80px;
	height: 80px;
    border-radius: 5px;
    border: 1px dashed gray;
    position: absolute;
	/* margin: 1em; */
}


div#DIOModelList { /* DIO模型實體化後的起始位置 */
    border: 5px dashed blue;
    height: 300px;
}


div.DIOModel {
    border: 1px solid black;
    width: 80px;
    height: 80px;
}


img.DIOPhoto { /* div內的機器圖片 */
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px dashed gray;
}



/* --------------- 以下沒問題 --------------- */

* {
    padding: 0px;
    margin: 0px;
}


.ui-resizable-e  {  /* 關閉將左右縮放 */
    width: 0px;
}


.ui-resizable-s {   /* 關閉將上下縮放 */
    height: 0px;
}
