
* {
    margin: 0px;
    padding: 0px;
    background-color: #CCC;
}

div { /*  */
    /* border: solid black; */
    border: 1px solid black;
    margin: 10px;
}

div#note { /* 資訊 */
    width: 300px;
    height: 100px;
}

div#dispose { /* 報廢區 */
    width: 200px;
    height: 200px;
}

div#factoryArea { /* 廠區 */
    width: 600px;
    height: 400px;
}

.machine { /* 設備 */
    float: left;
    position: relative;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    background: white;
    height: 100px;  
    width: 100px;
}

.machine.ui-draggable-dragging {    /* jQuery UI自身所帶屬性, 拖曳時, 改變背景顏色 */
    background: lightpink;
}

.selected {
    border: 1px dashed blue;
}