#machinePrototype {
    /* 設備原型圖 */
    width: 180px;
    height: 180px;
    border: 1px dashed rgb(0, 255, 0);
    padding: 10px;
}

div#factoryArea {
    /* 廠區 */
    padding: 10px;
    margin: 10px;
    width: 800px;
    height: 480px;
    border: 1px solid gray;
    background-color: #eeeeee;
}

div.machineArea {
    /* 廠區的設備放置區 */
    border: 1px dotted gray;
    float: left;
}

div#newMachineArea {
    /* 新購置設備的暫存區 */
    clear: both;
    border: 1px dashed red;
    /* height: 60px; */
    /* width: 60px; */
}