/*  */
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 180px;
    border-left: 1px solid gray;
    padding: .75em;
    overflow: hidden;
}

/* 廠區 */
#FactoryArea {
    /* background-color: #0b0; */
    float: left;
    width: 800px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;

}

#FactoryArea0 {
    z-index: 0;
}

/* 可移動機台 */
canvas.ui-draggable {
    float: right;
    width: 50px;
    height: 50px;
    padding: 10px;
}


div#divPrototype {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #000;
}

img#imgPrototype {
    width: 50px;
    height: 50px;
}